.header {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;  
    padding: 5px;
    
  }

  .search-bar {
    border:none;
    padding: 8px ;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .search-container {
    flex-grow: 1;
    border: 2px solid #e0e0e0; 
    border-radius: 25px;  
    display: flex;
    align-items: center;
    overflow: hidden;  
    padding: 5px;
    margin: 10px;
}

  .icon-button img {
    width: 34px; 
    height: 29px;
  }
   .icon-button {
    background-color: transparent;
    border: none;
    margin-left: auto;
  }


