.homepage {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .header {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    border: 2px solid #e0e0e0; 
    border-radius: 25px;  
    overflow: hidden;  
    padding: 5px;
  }

  .search-bar {
    flex-grow: 1;
    border: none;
    outline: none;  
    padding: 8px ;
    font-size: 16px;
  }
  
  .categories {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .item-listings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .item-image {
    background-color: lightgray;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .item-name {
    text-align: center;
    margin-top: 10px;
  }

  .icon-button img {
    width: 34px; 
    height: 29px;
  }

   .icon-button {
    background-color: transparent;
    border: none;
  }
  
  .category-icon-button img {
    width: 70px;  
    height: 70px; 
  }

  .category-icon-button {
    background-color:transparent;

    border: none;

  }

  .action-icon-button {
    display: flex;
    align-items: center;
    gap: 2px;
    border: 1px solid #ccc;  
    background-color: transparent;
    padding: 5px 15px; 
    border-radius: 25px; 
    font-size: 14px; 
    margin-left: 10px;
    margin-right: 10px;
    }

  .action-icon-button img {
    height: 28px;
    width: 28px;
   }



  
